<div class="container">
  <!-- <app-mycard>
  <ng-container class="title">Shiba Inu</ng-container>
  <ng-container class="sub-title">Dog Breed</ng-container>
  <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <p class="content">
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
  </p>
</app-mycard> -->


<app-fa-input type="email" placeholder="Email" icon="email" (value)="onNewValue($event)"></app-fa-input>
<app-fa-input type="password" placeholder="Password" icon="remove_red_eye" (value)="onNewValue($event)"></app-fa-input>


<app-fa-input-content icon="email">
  <input type="email" placeholder="Email" appInputRef/>
</app-fa-input-content>
</div>




